.gradle
.gradletasknamecache
build
cache
logs
out
results
last-analysis
checksums.properties
doop.properties

#intellij idea files
.idea
doop-nexgen.iml

#eclipse files
.classpath
.project

#netbeans files
.nb-gradle

#emacs files
*~

#souffle profiler html output dir
profiler_html
1o+h/
Minijavac-facts
classes/
context-insensitive
context-insensitive-antlr--null.trace
debug-soot.gradle
debug/
jphantom-facts
