.gradle
.gradletasknamecache
build
cache
logs
out
results
last-analysis
checksums.properties
doop.properties
src/main/resources/git-hash.txt

# dynamically generated class
tests/115-invokedynamic/InvokedynamicClass.class

#intellij idea files
.idea
doop-nexgen.iml

#eclipse files
.classpath
.project

#netbeans files
.nb-gradle

#emacs files
*~

#swp files
*.swp

#souffle profiler html output dir
profiler_html
