<div class="container">

    <div>
        <h4><span class="text-muted">jdoop</span> <span class="text-muted">|</span> <a href="list.html">Analyses</a></h4>
    </div>

    <div class="page-header">
        <h3>Analysis <small>$analysis.id</small></h3>
    </div>

    <div class="well">

        Starting analysis...

    </div>
</div>
